.product{
    display: flex;
    border: 4px solid black;
    margin-bottom: 10px;
    img{
        padding: 15px 15px 15px 15px;
    }
    .info{
        flex-direction: column;
        padding-top: 20px;
        .name{
            text-transform: uppercase;
            font-weight: bold;
        }
        .desc{
            padding-top: 15px;
        }
        .actions{
            padding-top: 65px;
            padding-left: 320px;
        }
    }
}